.list-design {
  margin-bottom: 15px;
  padding: 1px 0;
  transition: background-color 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list-design:hover {
  background-color: #fb8241;
}

.arrow {
  color: black;
  transition: color 0.3s;
  margin-right: 10px;
  flex-shrink: 0;
}

.list-design:hover .arrow {
  color: #28a745 !important;
}

.list-text {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.custom-card {
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .custom-card {
    box-shadow: inset 0px 0px 8px rgb(0 0 0 / 33%) !important;
  }
  .custom-title {
    inline-size: 180px !important ;
    overflow-wrap: break-word;
  }
}



/* Base styles for larger screens */
.custom-card {
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 20px;
}

/* Media queries for smaller screens */
@media (max-width: 1200px) {
  .custom-card {
    margin: 15px;
  }
}

@media (max-width: 992px) {
  .custom-card {
    margin: 10px;
  }

  .custom-width {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .custom-card {
    margin: 5px;
  }

  .custom-title {
    font-size: 1.5rem;
  }

  .list-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .custom-card {
    margin: 5px;
  }

  .custom-title {
    font-size: 1.2rem;
  }

  .list-text {
    font-size: 0.8rem;
  }
}

/* Ensure the layout remains consistent on larger screens */
@media (min-width: 1200px) {
  .custom-width {
    width: 80%;
    margin: auto;
  }
}
